.auto-logo {
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	padding: 20px;
}

li {
	display: inline-block;
	height: 100%;
}

li:hover {
	background-color: #787878;
}

img {
	width: 100px; /* you can use % */
	height: auto;
}

.slider, .slider-container{
	width: 80%;
	margin: 0 auto;
	overflow-x: hidden;
	height: auto;
}

.slider-pagination-item{
	display: inline-block;
	border-radius: 50%;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	width: 10px;
	height: 10px;
	margin-left: 2px;
	cursor: pointer;
}

.slider-pagination-item-active {
	background-color: red;
}

.slider-left{
	width: 91px;
	position: absolute;
	background-color: #e9e9e9;
	opacity: 0.2;
	cursor: pointer;
}

.slider-left::after{
	border: medium solid transparent;
	content: "";
	top: 50%;
	left: 50%;
	position: absolute;
	border-color: rgba(255, 212, 52, 0) #000000 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
	border-width: 25px;
	margin-left: -25px;
}

.slider-left:hover{
	opacity: 0.5;
}

.slider-right{
	position: absolute;
	background-color: #e9e9e9;
	opacity: 0.2;
	width: 100px;
	top: 16%;
	right: 10%;
	cursor: pointer;
}

.slider-right::after{
	border: medium solid transparent;
	content: "";
	top: 50%;
	left: 50%;
	position: absolute;
	border-color: rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) rgba(255, 212, 52, 0) #000000;
	border-width: 25px;
	margin-left: -25px;
}

.slider-right:hover{
	opacity: 0.5;
}

.inner-slider{
	display: inline-flex;
	width: 9999px;
	transform: translate(-15px, 0px);
}

.slider-item{
	display: flex;
}

.range-tooltip {
	display: none;
	position: absolute;
	background-color: silver;
	min-width: 30px;
	height: 30px;
	border-radius: 5px !important;
	justify-content: center;
	align-items: center;
}

.triangle {
	display: block;
	height: 0px;
	width: 0px;
	border: 10px solid transparent;
	border-top-color: silver;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 10px);
}

.input-group{
	margin: 5px;
}